:root {
  --black: #0E0F15;
  --purple: #723CF9;
  --lightPurple: #6956E7;
  --palePurple: #AB96E2;
  --lightGrey: #B8B8B8;
  --grey: #C2C1C3;
  --whiteGrey: #C9C6C9;
  --darkGrey:#7E7892;
}

body {
  display: contents;
  max-width: 100vw;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: rgba(14, 15, 21, 0.6);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  align-items: center;
  width: 100%;
  padding: 10px 100px;
  gap: 100px;
  box-sizing: border-box;
  top: 0;
  left: 0;
}


main{
  /* background-color: var(--black); */
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  /* padding: 30px 10px 0 10px; */
  box-sizing: border-box;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 40px;
  gap: 50px;
  box-sizing: border-box;
  max-width: 1750px;
}

/* h1, h2, h3, h4, h5, h6{

} */

h1{
  font-size: 51px;
}
h2{
  font-size: 31px;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 18px;
}
h5{
  font-size: 14px;
}
h6{
  font-size: 10px;
}

progress[value]::-webkit-progress-bar {
  background-color: #1B162A;  
}

progress::-moz-progress-bar {
    background: #1B162A;
}
